@import '../../../core/shared/theme/colors';

  
  .landing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2% 2%;
  }
  
  .hero {
    box-shadow: 6px 6px 2px 0px black;
    background-color: $color-light;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .hero:hover{
    background-color: $color-accent;
    cursor: pointer;
  }
  
  .hero img {
    width: auto;
    object-fit: cover;
    object-position: top;
    height: 250px;
    border-radius: 10px;
  }
  
  .hero h3 {
    font-size: 34px;
    margin-top: 10px;
  }
  
  .hero p {
    padding:5px ;
    font-size: 16px;
    margin-top: 10px;
  }
  
