  <main>
    <section class="landing">
      <article class="hero" routerLink="../explore">
        <img src="https://i.pinimg.com/564x/54/22/b7/5422b7681a652d4275f03f876c7f3d12.jpg" alt="Superhéroe 1">
        <h3>Explora</h3>
        <p>Explorar esta base de datos es sumergirse en un viaje de descubrimiento y entendimiento. Desde los iconos clásicos hasta los héroes menos conocidos, cada perfil ofrece una visión única de la naturaleza humana y el heroísmo.</p>
      </article>
      <article class="hero" routerLink="../form">
        <img src="https://i.pinimg.com/564x/e3/ea/e6/e3eae6694a703b9bf909c74b4dc56290.jpg" alt="Superhéroe 2">
        <h3>Crea</h3>
        <p>Únete a nosotros en esta aventura de creación y descubre el poder que reside dentro de ti. ¡El mundo espera ansioso a tus héroes!</p>
      </article>
    </section>
    <button class="superLoader" (click)="testInterceptor()" aria-label="loader">
      <p>LOADER SUPER INTERCEPTOR</p>
    </button>
  </main>