<p>heroes-home works!</p>
<div class="heroList">
    <div *ngFor="let h of heroes" class="hero">
        <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><p>{{h.name}}</p></mat-card-title>
              <mat-card-subtitle><p>{{h.power}}</p></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="h.imgUrl" alt="Imagen del héroe" loading="lazy">
            <mat-card-content class="hero-data">
                <article>
                    <p>{{h.description}}</p>
                </article>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>EDIT</button>
              <button mat-button>DELETE</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>