.public-cointainer{
    background-image: url(https://i.pinimg.com/564x/07/0a/88/070a88639e5c78d16cbcc7efa00f2a88.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 127px;
    padding-bottom: 62px;
}